* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Segoe UI", sans-serif;
}

body {
    background: #f4f6f8;
    color: #0f172a;
}

/* DASHBOARD */
.dashboard {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: #020617;
    color: white;
    padding: 30px 20px;
}

.sidebar h2 {
    margin-bottom: 40px;
    font-size: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 12px 14px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.sidebar li:hover,
.sidebar .active {
    background: #1f2937;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
}

/* MAIN */
.main {
    flex: 1;
    padding: 40px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 26px;
}

.header input {
    padding: 10px 16px;
    width: 240px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

/* TABLE CARD */
.table-card {
    background: white;
    padding: 24px;
    border-radius: 14px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.06);
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 14px;
    text-align: left;
    vertical-align: middle;
}

thead th {
    background: #f9fafb;
    font-size: 13px;
    color: #475569;
}

tbody td {
    border-top: 1px solid #e5e7eb;
    font-size: 14px;
}

tbody tr:hover {
    background: #f8fafc;
}

/* CENTER NO & ID */
th:nth-child(1),
td:nth-child(1),
th:nth-child(2),
td:nth-child(2) {
    text-align: center;
    width: 80px;
}

/* ACTION */
.actions {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 12px;
    text-decoration: none;
    color: white;
}

.edit {
    background: #3b82f6;
}

.delete {
    background: #ef4444;
}
.add {
    background: rgb(133, 211, 16);
}

.btn:hover {
    opacity: 0.85;
}
